h1{
    color: red;
    font-size: 50;
}

body{    
    width: 80%;    
    margin: auto;    
    padding: 30px;    
    text-align: center;    
    font-size: small;    
    font-family: fantasy;    
    background-image: url("timothy-eberly-dTLlhgeEJWg-unsplash.jpg");    
    background-size: cover;   
}
